/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
    font-family: "Oswald", sans-serif;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin: 0 1%;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
  }
  
  .active {
    background-color: #2874f0;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    margin: 0 1%;
    transition: 0.5s;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: 0.5s;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content ul {
    width: 13%;
    display: inline-block;
    vertical-align: top;
  }
  
  .dropdown-content li {
    padding: 4px 10px;
  }
  
  .dropdown-content li a {
    padding: 0px;
    font-size: 18px;
    transition: 0.5s;
  }
  
  .dropdown-content li a:hover {
    background: none;
    color: #2874f0;
  }
  
  .mega-menu {
    background: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url();
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: bottom right;
    background-color: #fff;
    position: absolute;
    left: 0;
    min-width: 100%;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover,
  .dropdown:hover .dropbtn {
    color: #2874f0;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media (max-width: 900px) {
    .dropdown-content ul {
      width: 25%;
      display: inline-block;
    }
  }
  
  @media (max-width: 800px) {
    .dropdown-content ul {
      width: 40%;
      display: inline-block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child),
    .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .dropdown-content ul {
      width: 90%;
      display: block;
    }
    .dropdown-content li:not(:first-child) {
      display: none;
      transition: 0.5s;
    }
  
    .dropdown-content ul:hover > li {
      display: block;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {
      float: none;
    }
    .topnav.responsive .dropdown-content {
      position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }