body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(48, 46, 46);
    color: white;
    padding-top: 25vh;
}
.container{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: rgb(22, 21, 21);
    border-radius: 15px;
    padding: 25px 10px;
    box-shadow: 0 0 15px rgb(80, 79, 79);
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    
}
input{
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 5px ;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: rgb(48, 46, 46);

}
.btns{
    margin: 15px auto;
}
button{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin: 5px 25px;
}
button:hover{
    background-color: 
}

.topnav {
    overflow: hidden;
    background-color: #333;
    font-family: "Oswald", sans-serif;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin: 0 1%;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
  }
  
  .active {
    background-color: #2874f0;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  .nav {
    background-color: white;
    color: black ;
    padding-top: 30px;
}

.logo {
float:left;
    display: inline;
}

.login {
   float: right;
   display: stretch;
  flex-flow: row wrap;
  align-items: right;
}

login input {

}

ul {

}

li {

}