body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(48, 46, 46);
    color: white;
    padding-top: 25vh;
}
.container{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: rgb(22, 21, 21);
    border-radius: 15px;
    padding: 25px 10px;
    box-shadow: 0 0 15px rgb(80, 79, 79);
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    
}
input{
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 5px ;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: rgb(48, 46, 46);

}
.btns{
    margin: 15px auto;
}
button{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin: 5px 25px;
}
button:hover{
    background-color: 
}
.login
{
    top: 25px;
    right: 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     transform: rotate(45deg);
     filter: progid:DXImageTransform.Microsoft.Matrix(M11='0.7071067811865476', M12='-0.7071067811865475', M21='0.7071067811865475', M22='0.7071067811865476', sizingMethod='auto expand');
}